{% extends 'adminbase.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i>Comment List Page</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/admin">Home</a></li>
                    <li><i class="fa fa-bars"></i>Comment</li>
                    <li><i class="fa fa-square-o"></i>Edit</li>
                </ol>
            </div>
        </div>
        <!-- page start-->

    <h1>Edit Comment</h1>

        {{ include('admin/comment/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="col-md-1">
            {{ include('admin/comment/_delete_form.html.twig') }}
        </div>

        <div class="col-md-2">
            <a href="{{ path('admin_comment_index') }} " class="btn btn-default">Back to list</a>
        </div>


        <!-- page end-->
    </section>
</section>
    <!--main content end-->
{% endblock %}
