{% extends 'adminbase.html.twig' %}

{% block title %}New House{% endblock %}

{% block body %}

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa fa-bars"></i>House List Page</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="/admin">Home</a></li>
                        <li><i class="fa fa-bars"></i>House</li>
                        <li><i class="fa fa-square-o"></i>New House</li>
                    </ol>
                </div>
            </div>
            <!-- page start-->

            <h1>Create new House</h1>

            {{ include('admin/house/_form.html.twig') }}
            <div class="col-md-1">
                <a href="{{ path('admin_house_index') }}" class="btn btn-default">back to list</a>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
{% endblock %}
